<!doctype html>
<html lang="es">
<head>
<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>ESAN</title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="font-awesome/css/all.min.css">
	<link rel="stylesheet" href="fonts/stylesheet.css">
	<link rel="stylesheet" href="slick/slick.css">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="css/responsive.css">
</head>

<body data-spy="scroll" data-target=".submenu" data-offset="81">
	
	<header class="site-header position-fixed d-flex align-items-center">
		<div class="container">
			<div class="row">
				<div class="col-12 d-flex flex-wrap align-items-center justify-content-between">
					<div class="logo d-flex align-items-center">
						<a href="index.html" class="btn-back d-block"><i class="icon icon-back-white"></i></a>
						<a href="index.html"><img src="images/logo-esan.svg" alt="" class="img-fluid"></a>
					</div>
					<div class="submenu d-none">
						<ul class="d-flex align-items-center">
							<li class="nav-item"><a class="nav-link link-to" href="#ventajas">Ventajas</a></li>
							<li class="nav-item"><a class="nav-link link-to" href="#internacionalizacion">Internacionalización</a></li>
							<li class="nav-item"><a class="nav-link link-to" href="#malla">Malla curricular</a></li>
							<li class="nav-item"><a class="nav-link link-to" href="#duracion">Duración y horarios</a></li>
							<li class="nav-item"><a class="nav-link link-to" href="#facultad">Facultad</a></li>
							<li class="nav-item"><a class="nav-link link-to" href="#inversion">Inversión</a></li>
							<li class="nav-item"><a href="#informacion" class="btn btn-secondary nav-link link-to">Solicitar información</a></li>
						</ul>
					</div>
					<div class="d-flex align-items-center">
						<div class="idioma ui-select">
							<select>
								<option value="0" selected>Español</option>
								<option value="1">Inglés</option>
							</select>
						</div>
						<div class="main-menu">
							<button class="btn-trigger"></button>
							<div class="menu-popup">
								<div class="container">
									<div class="row">
										<div class="col-12 d-flex flex-column justify-content-between vh-100">
											<div class="menu-header d-flex align-items-center justify-content-between">
												<div class="logo">
													<img src="images/logo.svg" alt="" class="img-fluid">
												</div>
												<button class="btn-close"></button>
											</div>
											<nav class="d-flex justify-content-between">
												<ul>
													<li><h3><span>1|</span> ESAN</h3></li>
													<li><a href="#">Acerca de ESAN</a></li>
													<li><a href="#">Facultad</a></li>
													<li><a href="#">Investigación</a></li>
												</ul>
												<ul>
													<li><h3><span>2|</span> Programas</h3></li>
													<li><a href="#">Educación ejecutiva</a></li>
													<li><a href="#">Maestrías</a></li>
													<li><a href="#">MBAs</a></li>
													<li><a href="#">Doctorado</a></li>
												</ul>
												<ul>
													<li><h3><span>3|</span> Empresas</h3></li>
													<li><a href="#">Programas para tus trabajadores</a></li>
												</ul>
												<ul>
													<li><h3><span>4|</span> Comunidad</h3></li>
													<li><a href="#">Conexión ESAN</a></li>
													<li><a href="#">Sala de prensa</a></li>
													<li><a href="#">Doctorados</a></li>
													<li><a href="#">Testimonios</a></li>
													<li><a href="#">ESAN Alumni</a></li>
												</ul>
											</nav>
											<div class="redes">
												<h3>Síguenos en nuestras redes sociales</h3>
												<ul class="d-flex">
													<li><a href="#" class="link-facebook"></a></li>
													<li><a href="#" class="link-twitter"></a></li>
													<li><a href="#" class="link-youtube"></a></li>
													<li><a href="#" class="link-google"></a></li>
													<li><a href="#" class="link-linkedin"></a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</header>
	
	<main class="page">
		<div class="page-top top2">
			<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="breadcrumbs">
						<a href="#">Inicio</a><span class="separator">&gt;</span>
						<a href="#">Programas</a><span class="separator">&gt;</span>
						<a href="#">Educación ejecutiva</a><span class="separator">&gt;</span>
						<a href="#">Dirección de Marketing Digital y Comercio Electrónico</a><span class="separator">&gt;</span>
						<span>Ventajas</span>
					</div>
				</div>
			</div>
			<div class="row">
					<div class="col-12">
						<h1 class="page-title">
							Dirección de Marketing Digital y <br>Comercio Electrónico (PADE)
						</h1>
					</div>
				</div>
			</div>
		</div>
		<section class="maestria-page d-flex align-items-center flex-wrap">
			<div class="container">
				<div class="row">
					<div class="col-12 col-lg-6">
						<div class="content">
							<h1>Dirección de Marketing Digital y <br>Comercio Electrónico (PADE)</h1>
							<h2>Ventajas</h2>
							<p>En la actualidad las empresas necesitan de directivos capaces de mejorar su productividad de manera integral, es por ello que el PADE Internacional en Dirección de Ventas, se basa en cuatro pilares estratégicos que proporcionarán a los participantes, una visión plena del negocio que le ayude a optimizar el rendimiento de su institución.</p>
							<div class="actions">
								<a href="#" class="btn btn-primary btn-lg text-uppercase">Solicitar más información</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="video d-flex align-items-center justify-content-center" style="height:calc(51% - -214px);background-image: url(images/Foto-principal.jpg);">
				<button class="btn-play"></button>
			</div>
		</section>
		
		<section class="ventajas-page d-flex align-items-center flex-wrap">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="intro">
							<h2>Ventajas</h2>
						</div>
						<div class="why">
							<h3>¿Por qué estudiar la maestría?</h3>
							<ul>
								<li class="why-item d-flex flex-wrap">
									<div class="icon">
										<img src="images/Icono-ventaja1.svg" alt="">
									</div>
									<div class="title">
										01. Aprendizaje Integral
									</div>
									<div class="descripcion">
										El PADE busca formar a profesionales que ocuparán puestos claves, brindándoles una sólida formación en su área de interés, desarrollando conocimientos.
									</div>
								</li>
								<li class="why-item d-flex flex-wrap">
									<div class="icon">
										<img src="images/Icono-ventaja-2.svg" alt="">
									</div>
									<div class="title">
										02. Componente internacional
									</div>
									<div class="descripcion">
										El programa incluye un viaje de estudios, que les proporcionará un enriquecimiento profesional al mostrar realidades y modelos de gestión diferentes.
									</div>
								</li>
								<li class="why-item d-flex flex-wrap">
									<div class="icon">
										<img src="images/Icono-ventaja-3.svg" alt="">
									</div>
									<div class="title">
										03. Plana docente de primer nivel
									</div>
									<div class="descripcion">
										La plana docente está integrada por profesionales formados en ESAN y en las mejores escuelas de negocios del mundo.
									</div>
								</li>
								<li class="why-item d-flex flex-wrap">
									<div class="icon">
										<img src="images/Icono-ventaja-4.svg" alt="">
									</div>
									<div class="title">
										04. Certificado Internacional
									</div>
									<div class="descripcion">
										La plana docente está integrada por profesionales formados en ESAN y en las mejores escuelas de negocios del mundo.
									</div>
								</li>								
							</ul>
						</div>
					</div>
				</div>
				
			</div>
		</section>
		<section class="convalida">
			<div class="container">
				<div class="row">
					<div class="col-12 col-md-12 d-flex justify-content-end flex-wrap" >
						<div class="content" >
							<div class="intro col-lg-7" style="float: left;">
								<h2>ESAN Alumni Career Services</h2>
								<p>Es el nexo entre los alumnos, graduados y la comunidad empresarial. Brindándoles asesoría y herramientas para que tomen mejores decisiones sobre su desarrollo profesional y puedan visibilizar su talento.</p>
								
							</div>
							<div class="logo col-lg-5" style="float: left;">
									<img src="images/logo-esan-alumni.png" alt="" class="img-fluid">
							</div>
						</div>
					</div>
					<div class="container-fluid" style="border-bottom: solid 1px #D8D8D8;margin-bottom: 50px"></div>
					<div class="col-12 col-md-6">
						<div class="convalida-item content">
							<div class="intro" style="border-right: solid 1px #D8D8D8;">
								<h2>CENDOC</h2>
								<p>El reconocimiento internacional de ESAN/Cendoc es ratificado por organismos internacionales como CEPAL, CLADEA, EBSCO y otros. Mantiene colecciones actualizadas y registra sus contenidos en bases de datos automatizadas, accesibles vía conexión remota puesta a disposición del participante por la universidad.</p>
								<div class="logo">
									<img src="images/Cendoc.svg" alt="" class="img-fluid">
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-6 d-flex justify-content-end flex-wrap">
						<div class="convalida-item content">
							<div class="intro">
								<h2>ESAN DATA</h2>
								<p>El centro de tecnología de información de la Universidad ESAN pone a disposición de los alumnos, tecnología educativa de punta y un conjunto de servicios que les permite el acceso a diferentes fuentes tanto para la creación como para la asimilación de conocimientos.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="video d-flex align-items-center justify-content-center">
							<button class="btn-play"></button>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="boletin">
			<div class="container">
				<div class="row">
					<div class="col-12 col-lg-5">
						<div class="content">
							<div class="intro">
								<h2>Mantente al día</h2>
								<p>A través de conexión Esan.</p>
								<form action="" class="needs-validation" novalidate>
									<div class="form-group custom-input">
										<label for="correoBoletin">
											<input type="text" id="correoBoletin" class="form-control" placeholder="&nbsp;">
											<span class="etiqueta">Déjenos su correo</span>
										</label>
									</div>
									<div class="form-group">
										<div class="custom-control custom-checkbox">
											<input type="checkbox" class="custom-control-input" id="newsletter">
											<label for="newsletter" class="custom-control-label">Suscribirme también al Newsletter de Noticias y Novedades.</label>
										</div>
									</div>
									<div class="form-group">
										<div class="custom-control custom-checkbox">
											<input type="checkbox" class="custom-control-input" id="condiciones02">
											<label for="condiciones02" class="custom-control-label">Acepto las <a href="#">condiciones de tratamiento para mis datos personales</a></label>
										</div>
									</div>
									<div>
										<button class="btn btn-light btn-lg text-uppercase">Mantenerte informado</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-6">
					<div class="enlaces-footer">
						<h2>Más de Esan</h2>
						<div class="row">
							<div class="col-12 col-lg-6">
								<ul>
									<li><a href="#">Transparencia universitaria</a></li>
									<li><a href="#">Portal académico</a></li>
									<li><a href="#">Esan Data</a></li>
									<li><a href="#">Google Apps</a></li>
								</ul>
							</div>
							<div class="col-12 col-lg-6">
								<ul>
									<li><a href="#">Biblioteca</a></li>
									<li><a href="#">Factura electrónica</a></li>
									<li><a href="#">Libro de reclamaciones</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<div class="contacto-footer">
						<h2>Comuníquese con nosotros</h2>
						<p>
							Teléfono.: 317-7200, 712-7200<br>
							Correo: <a href="mailto:informes@esan.edu.pe">informes@esan.edu.pe</a><br>
							Alonso de Molina 1652, Monterrico, Surco
						</p>
						<div class="redes">
							<h3>Síguenos en nuestras redes sociales</h3>
							<ul class="d-flex">
								<li><a href="#" class="link-facebook"></a></li>
								<li><a href="#" class="link-twitter"></a></li>
								<li><a href="#" class="link-youtube"></a></li>
								<li><a href="#" class="link-google"></a></li>
								<li><a href="#" class="link-linkedin"></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="text-center">
						<p><strong>© Universidad ESAN 2019</strong><br>Todos los derechos reservados</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
	
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>
	<script src="js/parallax.min.js"></script>
	<script src="slick/slick.min.js"></script>
	<script src="js/scripts.js"></script>
</body>
</html>