.nav-item {
	padding-left: 20px;
	margin-right: 20px;
	padding-top: 20px;
}

.nav-item a > h2 {
	font-size: 20px;
  	font-weight: bold;
 	line-height: 1.36;
	color: #060606;
}

.nav-tabs {
	border-bottom: 1px solid black;
}

.nav-tabs .nav-link {
	border-color: #e9ecef #e9ecef transparent #dee2e6;
	padding: 20px !important;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
	border-color: black black white black;
}

.tab-content {
	margin-top: 40px;
	margin-bottom: 40px;
}


/* --------------------------------------------------------------------------- */

.cursos-interna-nav {
	flex-basis: 33%;
	list-style: none;
}

.cursos-interna-nav li {
	list-style: none;
}

.cursos-interna-nav > li > div {
	display: none;
}

.cursos-interna-nav li ul {
	padding-left: 16px;
}

/* ------------- */

.cursos-interna-nav li h3 {
	position: relative;
	margin-top: 24px;
}

.cursos-interna-nav li h3::before {
	content: '';
	display: block;
	width: 24px;
	height: 10px;
	border-radius: 5px;
	background-color: #9B9B9B;
	position: absolute;
	left: -40px;
	top: 12px;
}

.cursos-interna-nav > li.open > div {
	display: block;
}

.cursos-interna-nav > li.open > h3::before {
	background-color: #CF0F11;
}

.cursos-interna-nav > li.open > h3 {
	color: black;
	font-weight: bold;
}

/* ------------- */

.cursos-interna-nav li h4 {
	position: relative;
	font-size: 20px;
	color: #5C5C5C;
}

.cursos-interna-nav li h4::before {
	content: '';
	display: block;
	width: 4px;
	height: 7px;
	border-radius: 2px;
	background-color: #9B9B9B;
	position: absolute;
	left: -16px;
	top: 8px;
}

.cursos-interna-nav li.active h4 {
	text-decoration: underline;
	font-weight: bold;
	color: black;
}

.cursos-interna-nav li.active h4::before {
	background-color: #CF0F11;
}


/* --------------------------------------------------------------------------- */

.content-list {
	flex-basis: 66%;
	border-radius: 12px;
  	border: solid 0.5px #979797;
}

.cursos-interna-list {
	padding-top: 40px;
}

.cursos-interna-list h4 {
	color: white;
	position: relative;
}

.cursos-interna-list h4::before {
	content: '';
	display: block;
	width: 24px;
	height: 10px;
	border-radius: 5px;
	background-color: #CF0F11;
	position: absolute;
	left: 0;
	top: 0;

}

.cursos-interna-list li {
	position: relative;
	list-style: none;
	margin-bottom: 10px;
}

.cursos-interna-list li::before {
	content: '';
	display: block;
	width: 4px;
	height: 7px;
	border-radius: 2px;
	background-color: #CF0F11;
	position: absolute;
	left: -20px;
	top: 7px;

}

.cursos-interna-list a {
	text-decoration: underline;
}

.cursos-interna-list .p-label {
	display: inline-block;
	height: 18px;
	margin-left: 6px;
	padding: 0 6px;
	border-radius: 9px;
	line-height: 18px;
	font-size: 14px;
	color: white;
}

.cursos-interna-list .p-label.nuevo {
	background-color: #CF0F11;
}

.cursos-interna-list .p-label.inicial {
	background-color: #5C5C5C;
}

.img-list {
	position: relative;
	left: 3%;
	border-top-right-radius: 12px;
	overflow: hidden;
	border-bottom-right-radius: 12px;
}


/* --------------------------------------------------------------------------- */

section#sp-solicitud-de-informacion {
	margin-top: 0;
}
