<!doctype html>
<html lang="es">
<head>
<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>ESAN</title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="font-awesome/css/all.min.css">
	<link rel="stylesheet" href="fonts/stylesheet.css">
	<link rel="stylesheet" href="slick/slick.css">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="css/responsive.css">
</head>

<body data-spy="scroll" data-target=".submenu" data-offset="81">
	
	<header class="site-header position-fixed d-flex align-items-center">
		<div class="container">
			<div class="row">
				<div class="col-12 d-flex flex-wrap align-items-center justify-content-between">
					<div class="logo d-flex align-items-center">
						<a href="index.html" class="btn-back d-block"><i class="icon icon-back-white"></i></a>
						<a href="index.html"><img src="images/logo-esan.svg" alt="" class="img-fluid"></a>
					</div>
					<div class="submenu d-none">
						<ul class="d-flex align-items-center">
							<li class="nav-item"><a class="nav-link link-to" href="#ventajas">Ventajas</a></li>
							<li class="nav-item"><a class="nav-link link-to" href="#internacionalizacion">Internacionalización</a></li>
							<li class="nav-item"><a class="nav-link link-to" href="#malla">Malla curricular</a></li>
							<li class="nav-item"><a class="nav-link link-to" href="#duracion">Duración y horarios</a></li>
							<li class="nav-item"><a class="nav-link link-to" href="#facultad">Facultad</a></li>
							<li class="nav-item"><a class="nav-link link-to" href="#inversion">Inversión</a></li>
							<li class="nav-item"><a href="#informacion" class="btn btn-secondary nav-link link-to">Solicitar información</a></li>
						</ul>
					</div>
					<div class="d-flex align-items-center">
						<div class="idioma ui-select">
							<select>
								<option value="0" selected>Español</option>
								<option value="1">Inglés</option>
							</select>
						</div>
						<div class="main-menu">
							<button class="btn-trigger"></button>
							<div class="menu-popup">
								<div class="container">
									<div class="row">
										<div class="col-12 d-flex flex-column justify-content-between vh-100">
											<div class="menu-header d-flex align-items-center justify-content-between">
												<div class="logo">
													<img src="images/logo.svg" alt="" class="img-fluid">
												</div>
												<button class="btn-close"></button>
											</div>
											<nav class="d-flex justify-content-between">
												<ul>
													<li><h3><span>1|</span> ESAN</h3></li>
													<li><a href="#">Acerca de ESAN</a></li>
													<li><a href="#">Facultad</a></li>
													<li><a href="#">Investigación</a></li>
												</ul>
												<ul>
													<li><h3><span>2|</span> Programas</h3></li>
													<li><a href="#">Educación ejecutiva</a></li>
													<li><a href="#">Maestrías</a></li>
													<li><a href="#">MBAs</a></li>
													<li><a href="#">Doctorado</a></li>
												</ul>
												<ul>
													<li><h3><span>3|</span> Empresas</h3></li>
													<li><a href="#">Programas para tus trabajadores</a></li>
												</ul>
												<ul>
													<li><h3><span>4|</span> Comunidad</h3></li>
													<li><a href="#">Conexión ESAN</a></li>
													<li><a href="#">Sala de prensa</a></li>
													<li><a href="#">Doctorados</a></li>
													<li><a href="#">Testimonios</a></li>
													<li><a href="#">ESAN Alumni</a></li>
												</ul>
											</nav>
											<div class="redes">
												<h3>Síguenos en nuestras redes sociales</h3>
												<ul class="d-flex">
													<li><a href="#" class="link-facebook"></a></li>
													<li><a href="#" class="link-twitter"></a></li>
													<li><a href="#" class="link-youtube"></a></li>
													<li><a href="#" class="link-google"></a></li>
													<li><a href="#" class="link-linkedin"></a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</header>
	
	<main class="page">
		<div class="page-top">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="breadcrumbs">
							<a href="#">Inicio</a><span class="separator">&gt;</span>
							<a href="#">Programas</a><span class="separator">&gt;</span>
							<a href="#">Educación ejecutiva</a><span class="separator">&gt;</span>
							<a href="#">Dirección de Marketing Digital y Comercio Electrónico</a><span class="separator">&gt;</span>
							<span>Acerca del programa</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<h1 class="page-title">
							Dirección de Marketing Digital y <br>Comercio Electrónico (PADE)
						</h1>
					</div>
				</div>
			</div>
		</div>
		<div style="height: 80px"></div>
		
		<section class="maestria-page d-flex align-items-center flex-wrap">
			<div class="container">
				<div class="row">
					<div class="col-12 col-lg-6">
						<div class="content">
							<h1>Dirección de Marketing Digital y <br>Comercio Electrónico (PADE)</h1>
							<h2>Acerca del Programa</h2>
							<p>El objetivo del Programa de Alta Especialización en Business Intelligence (Bl) es ofrecer a los ejecutivos y profesionales que se desempeñan en las diferentes áreas de la organización, las competencias y mejores prácticas de la analítica de nueva generación.</p>
							<div class="actions">
								<a href="#" class="btn btn-primary btn-lg text-uppercase">Solicitar más información</a>
								<a href="#" class="btn btn-outline-primary btn-lg text-uppercase">Descarga política de calidad</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="imagen"></div>

		</section>

		<section class="page-content d-flex align-items-center flex-wrap">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="sobre-el-programa d-flex align-items-center flex-wrap justify-content-between">
							<div class="content">
								<div class="intro">
									<h2>Beneficios del programa</h2>
								</div>
									<ul>
										<li>Es el primer programa en el Perú de mediana duración orientado a la dirección de ventas</li>
										<li>La visión integral de la dirección de ventas.</li>
										<li>Viaje internacional.</li>
										<li>La oportunidad de convalidar cursos para posteriormente optar por la Maestría en Marketing</li>
									</ul>
							</div>
							<div class="imagen">
								<img src="images/imagen-sobre-programa.jpg" alt="" class="img-fluid">
							</div>
						</div>
						
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="objetivo d-flex align-items-center flex-wrap justify-content-between">
							<div class="content">
								<div class="intro">
									<h2>Objetivo</h2>
								</div>
								<p>Ofrecer los conocimientos, herramientas y experiencias necesarias para gestionar con éxito el área de ventas de una empresa, potenciado tres competencias claves:</p>
								<ul>
									<li>Una visión integral de las funciones de ventas de una empresa y su interrelación con el área de marketing.</li>
									<li>Habilidades para la dirección efectiva del personal de ventas y gestión de clientes.</li>
									<li>Capacidades para estructurar de manera adecuada un plan de ventas y controlar su ejecución.</li>
								</ul>
							</div>
							<div class="imagen">
								<img src="images/imagen-objetivo.png" alt="" class="img-fluid">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="imagen"></div>
		</section>
		
		<section class="palabras-directora d-flex align-items-center flex-wrap">
			<div class="video d-flex align-items-center justify-content-center">
				<button class="btn-play"></button>
			</div>
			<div class="container">
				<div class="row justify-content-end">
					<div class="col-12 col-lg-7">
						<div class="content">
							<div class="intro">
								<h2>Palabras de la directora</h2>
							</div>
							<div class="oder2" style="display: none;">
							<div class="nombre">Ana Reátegui Vela</div>
							<div class="cargo">Directora Executive Education</div>
							<div class="scroll-content">
								<p>De nuestra consideración:</p>

								<p>La información se ha convertido en uno de los activos más importantes de la empresa moderna. En la actualidad, las organizaciones necesitan valorar la información al máximo. Esto les permitirá lograr los más altos niveles de competitividad y liderazgo haciendo posible la constante creación de valor y por lo tanto, asegurar su sostenibilidad.</p>

								<p>En este escenario, las organizaciones necesitan de profesionales capaces de analizar la información de una manera eficiente, tanto a nivel interno como a nivel externo. Esto permitirá a la empresa, ir reconociendo las ventajas diferenciales frente a su competencia e ir transformando los datos en conocimiento para una adecuada y oportuna toma de decisiones.</p>

								<p>ESAN, a tono con los nuevos requerimientos empresariales, ha diseñado el Programa de Alta Especialización en Business Intelligence. Que tiene como principal objetivo, brindar al participante los conocimientos, conceptos, herramientas, modelos, metodologías y estrategias que le permitirán manejar la información técnicamente, optimizar su actuar generando una apreciable reducción de tiempos y una mejora sustancial en el modelo de toma de decisiones de su organización.</p>

								<p>Para mayor información, lo invitamos a leer detenidamente el folleto.</p>
								<p>Los esperamos.</p>
								<p>Muy atentamente,</p>
							</div>
						</div>
							<div class="video align-items-center justify-content-center">
								<button class="btn-play"></button>
							</div>
						<div class="oder1">
							<div class="nombre">Ana Reátegui Vela</div>
							<div class="cargo">Directora Executive Education</div>
							<div class="scroll-content">
								<p>De nuestra consideración:</p>

								<p>La información se ha convertido en uno de los activos más importantes de la empresa moderna. En la actualidad, las organizaciones necesitan valorar la información al máximo. Esto les permitirá lograr los más altos niveles de competitividad y liderazgo haciendo posible la constante creación de valor y por lo tanto, asegurar su sostenibilidad.</p>

								<p>En este escenario, las organizaciones necesitan de profesionales capaces de analizar la información de una manera eficiente, tanto a nivel interno como a nivel externo. Esto permitirá a la empresa, ir reconociendo las ventajas diferenciales frente a su competencia e ir transformando los datos en conocimiento para una adecuada y oportuna toma de decisiones.</p>

								<p>ESAN, a tono con los nuevos requerimientos empresariales, ha diseñado el Programa de Alta Especialización en Business Intelligence. Que tiene como principal objetivo, brindar al participante los conocimientos, conceptos, herramientas, modelos, metodologías y estrategias que le permitirán manejar la información técnicamente, optimizar su actuar generando una apreciable reducción de tiempos y una mejora sustancial en el modelo de toma de decisiones de su organización.</p>

								<p>Para mayor información, lo invitamos a leer detenidamente el folleto.</p>
								<p>Los esperamos.</p>
								<p>Muy atentamente,</p>
							</div>
						</div>
							<div class="acreditaciones">
								<h3 class="w-100">Acreditaciones de ESAN:</h3>
								<div class="d-flex align-items-center flex-wrap">
									<div class="item">
										<img src="images/logo-amba.png" alt="" class="img-fluid">
									</div>
									<div class="item">
										<img src="images/logo-aacsb.png" alt="" class="img-fluid">
									</div>
								</div>
							</div>
							<div class="membresias">
								<h3 class="w-100">Membresías de ESAN:</h3>
								<div class="membresiasLista d-flex align-items-center flex-wrap">
									<div class="item">
										<img src="images/logo-efmd.png" alt="" class="img-fluid">
									</div>
									<div class="item">
										<img src="images/logo-cladea.png" alt="" class="img-fluid">
									</div>
									<div class="item">
										<img src="images/logo-pim.png" alt="" class="img-fluid">
									</div>
									<div class="item">
										<img src="images/logo-unicon.png" alt="" class="img-fluid">
									</div>
									<div class="item">
										<img src="images/logo-nibes.png" alt="" class="img-fluid">
									</div>
									<div class="item">
										<img src="images/logo-prime.png" alt="" class="img-fluid">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div style="height: 80px"></div>
		<section class="boletin">
			<div class="container">
				<div class="row">
					<div class="col-12 col-lg-5">
						<div class="content">
							<div class="intro">
								<h2>Mantente al día</h2>
								<p>A través de conexión Esan.</p>
								<form action="" class="needs-validation" novalidate>
									<div class="form-group custom-input">
										<label for="correoBoletin">
											<input type="text" id="correoBoletin" class="form-control" placeholder="&nbsp;">
											<span class="etiqueta">Déjenos su correo</span>
										</label>
									</div>
									<div class="form-group">
										<div class="custom-control custom-checkbox">
											<input type="checkbox" class="custom-control-input" id="newsletter">
											<label for="newsletter" class="custom-control-label">Suscribirme también al Newsletter de Noticias y Novedades.</label>
										</div>
									</div>
									<div class="form-group">
										<div class="custom-control custom-checkbox">
											<input type="checkbox" class="custom-control-input" id="condiciones02">
											<label for="condiciones02" class="custom-control-label">Acepto las <a href="#">condiciones de tratamiento para mis datos personales</a></label>
										</div>
									</div>
									<div>
										<button class="btn btn-light btn-lg text-uppercase">Mantenerte informado</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-6">
					<div class="enlaces-footer">
						<h2>Más de Esan</h2>
						<div class="row">
							<div class="col-12 col-lg-6">
								<ul>
									<li><a href="#">Transparencia universitaria</a></li>
									<li><a href="#">Portal académico</a></li>
									<li><a href="#">Esan Data</a></li>
									<li><a href="#">Google Apps</a></li>
								</ul>
							</div>
							<div class="col-12 col-lg-6">
								<ul>
									<li><a href="#">Biblioteca</a></li>
									<li><a href="#">Factura electrónica</a></li>
									<li><a href="#">Libro de reclamaciones</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<div class="contacto-footer">
						<h2>Comuníquese con nosotros</h2>
						<p>
							Teléfono.: 317-7200, 712-7200<br>
							Correo: <a href="mailto:informes@esan.edu.pe">informes@esan.edu.pe</a><br>
							Alonso de Molina 1652, Monterrico, Surco
						</p>
						<div class="redes">
							<h3>Síguenos en nuestras redes sociales</h3>
							<ul class="d-flex">
								<li><a href="#" class="link-facebook"></a></li>
								<li><a href="#" class="link-twitter"></a></li>
								<li><a href="#" class="link-youtube"></a></li>
								<li><a href="#" class="link-google"></a></li>
								<li><a href="#" class="link-linkedin"></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="text-center">
						<p><strong>© Universidad ESAN 2019</strong><br>Todos los derechos reservados</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
	
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>
	<script src="js/parallax.min.js"></script>
	<script src="slick/slick.min.js"></script>
	<script src="js/scripts.js"></script>
	<script>
		
		// slider
		  $slick_slider = $('.membresiasLista');
		  settings_slider = {
			dots: true,
			infinite: true,
		  	speed: 300,
		  	slidesToShow: 1,
		  	centerMode: false,
		  	variableWidth: true,
			customPaging: function(slick,index) {
				return '<a>0' + (index + 1) + '</a>/0' + slick.slideCount;
			}
			// more settings
		  }
		  slick_on_mobile( $slick_slider, settings_slider);

		// slick on mobile
		  function slick_on_mobile(slider, settings){
			$(window).on('load resize', function() {
			  if ($(window).width() > 767) {
				if (slider.hasClass('slick-initialized')) {
				  slider.slick('unslick');
				}
				return
			  }
			  if (!slider.hasClass('slick-initialized')) {
				return slider.slick(settings);
			  }
			});
		  };
		
	</script>
</body>
</html>