<!doctype html>
<html lang="es">
<head>
<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>ESAN</title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="font-awesome/css/all.min.css">
	<link rel="stylesheet" href="fonts/stylesheet.css">
	<link rel="stylesheet" href="slick/slick.css">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="css/responsive.css">
</head>

<body data-spy="scroll" data-target=".submenu" data-offset="81">
	
	<header class="site-header position-fixed d-flex align-items-center">
		<div class="container">
			<div class="row">
				<div class="col-12 d-flex flex-wrap align-items-center justify-content-between">
					<div class="logo d-flex align-items-center">
						<a href="index.html" class="btn-back d-block"><i class="icon icon-back-white"></i></a>
						<a href="index.html"><img src="images/logo-esan.svg" alt="" class="img-fluid"></a>
					</div>
					<div class="submenu d-none">
						<ul class="d-flex align-items-center">
							<li class="nav-item"><a class="nav-link link-to" href="#ventajas">Ventajas</a></li>
							<li class="nav-item"><a class="nav-link link-to" href="#internacionalizacion">Internacionalización</a></li>
							<li class="nav-item"><a class="nav-link link-to" href="#malla">Malla curricular</a></li>
							<li class="nav-item"><a class="nav-link link-to" href="#duracion">Duración y horarios</a></li>
							<li class="nav-item"><a class="nav-link link-to" href="#facultad">Facultad</a></li>
							<li class="nav-item"><a class="nav-link link-to" href="#inversion">Inversión</a></li>
							<li class="nav-item"><a href="#informacion" class="btn btn-secondary nav-link link-to">Solicitar información</a></li>
						</ul>
					</div>
					<div class="d-flex align-items-center">
						<div class="idioma ui-select">
							<select>
								<option value="0" selected>Español</option>
								<option value="1">Inglés</option>
							</select>
						</div>
						<div class="main-menu">
							<button class="btn-trigger"></button>
							<div class="menu-popup">
								<div class="container">
									<div class="row">
										<div class="col-12 d-flex flex-column justify-content-between vh-100">
											<div class="menu-header d-flex align-items-center justify-content-between">
												<div class="logo">
													<img src="images/logo.svg" alt="" class="img-fluid">
												</div>
												<button class="btn-close"></button>
											</div>
											<nav class="d-flex justify-content-between">
												<ul>
													<li><h3><span>1|</span> ESAN</h3></li>
													<li><a href="#">Acerca de ESAN</a></li>
													<li><a href="#">Facultad</a></li>
													<li><a href="#">Investigación</a></li>
												</ul>
												<ul>
													<li><h3><span>2|</span> Programas</h3></li>
													<li><a href="#">Educación ejecutiva</a></li>
													<li><a href="#">Maestrías</a></li>
													<li><a href="#">MBAs</a></li>
													<li><a href="#">Doctorado</a></li>
												</ul>
												<ul>
													<li><h3><span>3|</span> Empresas</h3></li>
													<li><a href="#">Programas para tus trabajadores</a></li>
												</ul>
												<ul>
													<li><h3><span>4|</span> Comunidad</h3></li>
													<li><a href="#">Conexión ESAN</a></li>
													<li><a href="#">Sala de prensa</a></li>
													<li><a href="#">Doctorados</a></li>
													<li><a href="#">Testimonios</a></li>
													<li><a href="#">ESAN Alumni</a></li>
												</ul>
											</nav>
											<div class="redes">
												<h3>Síguenos en nuestras redes sociales</h3>
												<ul class="d-flex">
													<li><a href="#" class="link-facebook"></a></li>
													<li><a href="#" class="link-twitter"></a></li>
													<li><a href="#" class="link-youtube"></a></li>
													<li><a href="#" class="link-google"></a></li>
													<li><a href="#" class="link-linkedin"></a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</header>
	
	<main class="page">
		<div class="page-top top-modulos">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="breadcrumbs">
							<a href="#">Inicio</a><span class="separator">&gt;</span>
							<a href="#">Programas</a><span class="separator">&gt;</span>
							<a href="#">Maestrías</a><span class="separator">&gt;</span>
							<a href="#">Dirección de Marketing Digital y Comercio Electrónico</a><span class="separator">&gt;</span>
							<span>Descripción de los cursos</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<h1 class="page-title">
							Dirección de Marketing Digital y Comercio Electrónico (PADE)
						</h1>
					</div>
				</div>
			</div>
		</div>
		
		<section class="maestria-page d-flex align-items-center flex-wrap">
			<div class="container">
				<div class="row">
					<div class="col-12 col-lg-6">
						<div class="content">
							<h1>Dirección de Marketing Digital y<br>Comercio Electrónico (PADE)</h1>
							<h2>Admisión</h2>
							<p>Inauguración<br><strong>xx de Abril 20xx</strong></p>
							<div class="actions">
								<a href="#" class="btn btn-primary btn-lg text-uppercase">Solicitar más información</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="video d-flex align-items-center justify-content-center" style="background-image: url(images/Foto-principal.jpg);">
				<button class="btn-play"></button>
			</div>
		</section>
		
		<section class="doble-grado-internacional d-flex align-items-center flex-wrap" style="border-bottom: 1px solid #979797;    padding-bottom: 153px;">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="en-que-consiste d-flex align-items-center flex-wrap justify-content-between">
							<div class="content">
								<div class="intro">
									<h2>Módulo 01</h2>
								</div>
								
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<p><strong>La Gestión de Ventas dentro del <br>Proceso de Marketing</strong></p>
						<p>El curso brinda una mirada práctica sobre la problemática del área de ventas y sus relaciones con el área de marketing, desarrollando en el participante una visión más amplia sobre la gestión y comercialización de un producto o servicio. Se analizará la filosofía de marketing; el mercado y su entorno; la segmentación del consumidor y el posicionamiento del producto frente a las nuevas tendencias del mercado.</p>
					</div>
					<div class="col-lg-4">
						<p><strong>Análisis de Datos y Pronóstico de<br>Ventas</strong></p>
						<p>Brindará a los participantes los conceptos y herramientas básicas del análisis estadístico, familiarizándolo con las técnicas para la realización de pronósticos. El curso se centra en la aplicación de estas herramientas en la toma de decisiones del área comercial de una empresa, desarrollando las competencias básicas para comprender y participar en el proceso de preparación de pronósticos de ventas de bienes y servicios.</p>
					</div>
					<div class="col-lg-4">
						<p><strong>Gestión de Marca</strong></p>
						<p>El curso ofrece los conocimientos para tomar decisiones comerciales coherentes con la gestión de una marca en el largo plazo. Se presentarán técnicas, políticas y estrategias de branding y se analizarán casos concretos de creación y rediseño de marcas. Al finalizar el curso, el alumno comprenderá y analizará la relación del proceso de creación y gestión de marca con la estructura competitiva de su sector. Asimismo, estará en capacidad de proponer estrategias y acciones comerciales que soporten el posicionamiento de los productos.</p>
					</div>
					<div class="col-lg-4" style="margin-bottom: 50px;margin-top: 50px">
						<p><strong>Gestión de Clientes y CRM</strong></p>
						<p>El objetivo del curso es comprender la importancia del servicio al cliente dentro de todas las áreas de una organización e implementar un modelo de gestión con enfoque en el cliente. Se analizarán temas como la segmentación de clientes y criterios para definir una cuenta clave, herramientas para una administración eficiente de cartera, estrategias para captar y retener clientes claves, políticas y estrategias para generar valor, así como herramientas del marketing relacional que faciliten al consumidor percibir una coherencia entre la promesa y el producto adquirido.</p>
					</div>
					<div class="col-lg-4" style="margin-bottom: 50px;margin-top: 50px">
						<p><strong>Costeo para la Gestión de Ventas</strong></p>
						<p>El curso busca que el participante adquiera los conceptos, técnicas y herramientas financieras básicas que permitan apoyar de modo eficiente la gestión de una empresa y que son necesarias para la estimación de costos y preparación de presupuestos del área comercial. Al finalizar el curso, los participantes podrán conocer los componentes de una estrategia de control de costos y su utilización en la toma de decisiones para diferentes tipos de iniciativas.</p>
					</div>
					<div class="col-lg-4" style="margin-bottom: 50px;margin-top: 50px">
						<p><strong>E-commerce</strong></p>
						<p>El objetivo del curso es desarrollar los conocimientos necesarios para que el participante pueda generar estrategias de compra o venta a través de canales en línea, e integrarlas con eficiencia al plan de marketing y plan de ventas de la empresa. Al finalizar el curso, el participante estará en la capacidad de poder decidir respecto a la plataforma y medio de pago, seguridad, distribución, gestionar la relación con clientes a través de este canal, planificar, ejecutar y medir campañas SEM, y desarrollar estrategias de marketing digital.</p>
					</div>
				</div>
			</div>
		</section>
		<section class="doble-grado-internacional d-flex align-items-center flex-wrap" style="border-bottom: 1px solid #979797;    padding-bottom: 153px;">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="en-que-consiste d-flex align-items-center flex-wrap justify-content-between">
							<div class="content">
								<div class="intro">
									<h2>Módulo 02</h2>
								</div>
								
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<p><strong>Key Account Management y Trade<br>Marketing</strong></p>
						<p>El curso desarrollará en los participantes las habilidades y competencias para integrar las estrategias de distribución, promoción, comunicación y ventas enfocadas a optimizar las relaciones y funcionamiento de los canales utilizados por la empresa. Se presentarán los conceptos, herramientas, técnicas y mejores prácticas del trade marketing en un marco que les permita gerenciar una visión comercial de 360 grados, con un manejo efectivo de los recursos y portafolios de productos, en ambientes altamente competitivos y volátiles.</p>
					</div>
					<div class="col-lg-4">
						<p><strong>Estrategias de Negociación en<br>Ventas</strong></p>
						<p>De manera práctica, los participantes desarrollan las habilidades de negociación y persuasión en entornos comerciales, para obtener acuerdos ventajosos (compraventa, colaboración, acuerdos internos). Sobre la base de casos y dinámicas de roll-playing se presentarán las estrategias y buenas prácticas existentes dentro del entorno de la negociación basadas en la preparación y el aprovechamiento de la nformación. El participante estará en capacidad de determinar la forma más eficaz de negociación y la estrategia a seguir de acuerdo con las características de la contraparte y el contexto.</p>
					</div>
					<div class="col-lg-4">
						<p><strong>Liderazgo Aplicado a la Dirección<br>de la Fuerza de Ventas</strong></p>
						<p>El curso busca dotar a los participantes de las habilidades, aptitudes y actitudes que les permitan liderar equipos de venta autónomos y de alto rendimiento a través de un modelo de trabajo basado en el empoderamiento de sus colaboradores. Asimismo, busca analizar, comprender y predecir comportamientos de las personas que integran su equipo de trabajo.</p>
					</div>
					<div ></div>
					<div class="col-lg-4" style="margin-bottom: 50px;margin-top: 50px">
						<p><strong>Desarrollo de la Fuerza de Ventas</strong></p>
						<p>El curso ofrecerá diferentes conceptos, técnicas y herramientas que permitan desarrollar las habilidades del equipo de ventas con la finalidad de contribuir a una gestión eficaz y eficiente de sus clientes. Asimismo, se presentarán sistemas de indicadores de gestión que guíen el desarrollo de las funciones del día a día y la rentabilidad del negocio.</p>
					</div>
					<div class="col-lg-4">
						
					</div>
					<div class="col-lg-4">
						
					</div>
				</div>
			</div>
		</section>
		<section class="doble-grado-internacional d-flex align-items-center flex-wrap" style="border-bottom: 1px solid #979797;    padding-bottom: 153px;">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="en-que-consiste d-flex align-items-center flex-wrap justify-content-between">
							<div class="content">
								<div class="intro">
									<h2>Módulo 03</h2>
								</div>
								
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<p><strong>Rentabilidad para la Gestión de<br>Ventas</strong></p>
						<p>El curso proporciona a los participantes los conceptos clave de las finanzas operativas y estructurales de una empresa, la comprensión y análisis de los estados financieros básicos, la interpretación de la situación patrimonial y económica de una empresa, así como el análisis y toma de decisiones en cuanto a proyectos de inversión, deuda y capital.</p>
					</div>
					<div class="col-lg-4">
						<p><strong>Gestión de la Cadena de Valor y<br>Canales de Venta</strong></p>
						<p>El curso desarrolla las habilidades y competencias para diseñar e implantar el modelo y las estrategias de los canales de distribución que soporten la gestión de los productos y servicios en el punto de venta, partiendo de un análisis competitivo del negocio y una orientación hacia el cliente. Se generará una cadena de valor que integre las políticas, procesos y personas con una cultura mentalizada en el desempeño, los resultados y la rentabilidad</p>
					</div>
					<div class="col-lg-4">
						<p><strong>Diseño de Territorios y<br>Administración de Tiempos</strong></p>
						<p>El curso brinda los conceptos y herramientas necesarias para la constitución de equipos de venta efectivos, el diseño de territorios basados en la comprensión de la naturaleza de los clientes y el desarrollo de sistemas de compensación que estimulen el cumplimiento de los resultados esperados. Al finalizar el curso, el participante estará en capacidad de analizar sus territorios y elaborar objetivos específicos que les ayuden a alcanzar sus metas de venta por medio de acciones definidas estratégicamente, centradas en la conservación de sus negocios actuales y el desarrollo de nuevos negocios.</p>
					</div>
					<div class="col-lg-4" style="margin-bottom: 50px;margin-top: 50px">
						<p><strong>Sistemas de Cuotas, Remuneración<br>e Incentivos en Ventas</strong></p>
						<p>El curso tendrá como objetivo mostrar los diferentes sistemas de cuotas, remuneración e incentivos utilizados por las empresas, resaltando las bondades de cada una de ellas, así como su interrelación. Al finalizar el curso, los participantes podrán desarrollar un sistema de cuota-remuneración e incentivos en forma coherente con el contexto del negocio.</p>
					</div>
					<div class="col-lg-4" style="margin-bottom: 50px;margin-top: 50px">
						<p><strong>Plan de Ventas y Sistemas de<br>Evaluación</strong></p>
						<p>El curso provee los fundamentos necesarios para la formulación y el diseño de un plan de ventas inscrito en el Plan de Marketing de la empresa. A lo largo del curso, los participantes formularán un plan de ventas, así como el proceso de su implementación, las métricas de control y la estructura que lo soporte. Se enfatizará en los aspectos estructurales del plan, así como su impacto en las áreas financieras y de operaciones de la empresa. Se desarrollarán planes de contingencia considerando los factores exógenos a la empresa o al producto, de tal manera que se pueda cumplir con lo establecido, o en el peor de los casos, minimizar los efectos negativos.</p>
					</div>
					<div class="col-lg-4" style="margin-bottom: 50px;margin-top: 50px">
						<p><strong>Trabajo Integrador</strong></p>
						<p>Al finalizar el programa, los participantes deberán realizar un trabajo integrador. Este tiene por objetivo consolidar los conocimientos desarrollados en el programa a través de una labor grupal y constituye requisito para la graduación. Por su carácter práctico, los participantes procuran beneficiarse aplicando los trabajos a sus propias empresas o uniéndose para generar sus propios negocios.</p>



					</div>
				</div>
			</div>
		</section>
		
		<section class="boletin">
			<div class="container">
				<div class="row">
					<div class="col-12 col-lg-5">
						<div class="content">
							<div class="intro">
								<h2>Mantente al día</h2>
								<p>A través de conexión Esan.</p>
								<form action="" class="needs-validation" novalidate>
									<div class="form-group custom-input">
										<label for="correoBoletin">
											<input type="text" id="correoBoletin" class="form-control" placeholder="&nbsp;">
											<span class="etiqueta">Déjenos su correo</span>
										</label>
									</div>
									<div class="form-group">
										<div class="custom-control custom-checkbox">
											<input type="checkbox" class="custom-control-input" id="newsletter">
											<label for="newsletter" class="custom-control-label">Suscribirme también al Newsletter de Noticias y Novedades.</label>
										</div>
									</div>
									<div class="form-group">
										<div class="custom-control custom-checkbox">
											<input type="checkbox" class="custom-control-input" id="condiciones02">
											<label for="condiciones02" class="custom-control-label">Acepto las <a href="#">condiciones de tratamiento para mis datos personales</a></label>
										</div>
									</div>
									<div>
										<button class="btn btn-light btn-lg text-uppercase">Mantenerte informado</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-6">
					<div class="enlaces-footer">
						<h2>Más de Esan</h2>
						<div class="row">
							<div class="col-12 col-lg-6">
								<ul>
									<li><a href="#">Transparencia universitaria</a></li>
									<li><a href="#">Portal académico</a></li>
									<li><a href="#">Esan Data</a></li>
									<li><a href="#">Google Apps</a></li>
								</ul>
							</div>
							<div class="col-12 col-lg-6">
								<ul>
									<li><a href="#">Biblioteca</a></li>
									<li><a href="#">Factura electrónica</a></li>
									<li><a href="#">Libro de reclamaciones</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<div class="contacto-footer">
						<h2>Comuníquese con nosotros</h2>
						<p>
							Teléfono.: 317-7200, 712-7200<br>
							Correo: <a href="mailto:informes@esan.edu.pe">informes@esan.edu.pe</a><br>
							Alonso de Molina 1652, Monterrico, Surco
						</p>
						<div class="redes">
							<h3>Síguenos en nuestras redes sociales</h3>
							<ul class="d-flex">
								<li><a href="#" class="link-facebook"></a></li>
								<li><a href="#" class="link-twitter"></a></li>
								<li><a href="#" class="link-youtube"></a></li>
								<li><a href="#" class="link-google"></a></li>
								<li><a href="#" class="link-linkedin"></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="text-center">
						<p><strong>© Universidad ESAN 2019</strong><br>Todos los derechos reservados</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
	
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>
	<script src="js/parallax.min.js"></script>
	<script src="slick/slick.min.js"></script>
	<script src="js/scripts.js"></script>
	<script>
		$('.en-que-consiste .imagen').slick({
		  	dots: true,
		  	infinite: true,
		  	speed: 300,
		  	slidesToShow: 1,
		  	centerMode: false,
			customPaging: function(slick,index) {
				return '<a>0' + (index + 1) + '</a>/0' + slick.slideCount;
			}
		});
	</script>
</body>
</html>