<!doctype html>
<html lang="es">
<head>
<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>ESAN</title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="font-awesome/css/all.min.css">
	<link rel="stylesheet" href="fonts/stylesheet.css">
	<link rel="stylesheet" href="slick/slick.css">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="css/responsive.css">
</head>

<body data-spy="scroll" data-target=".submenu" data-offset="81">
	
	<header class="site-header position-fixed d-flex align-items-center">
		<div class="container">
			<div class="row">
				<div class="col-12 d-flex flex-wrap align-items-center justify-content-between">
					<div class="logo d-flex align-items-center">
						<a href="index.html" class="btn-back d-block"><i class="icon icon-back-white"></i></a>
						<a href="index.html"><img src="images/logo-esan.svg" alt="" class="img-fluid"></a>
					</div>
					<div class="submenu d-none">
						<ul class="d-flex align-items-center">
							<li class="nav-item"><a class="nav-link link-to" href="#ventajas">Ventajas</a></li>
							<li class="nav-item"><a class="nav-link link-to" href="#internacionalizacion">Internacionalización</a></li>
							<li class="nav-item"><a class="nav-link link-to" href="#malla">Malla curricular</a></li>
							<li class="nav-item"><a class="nav-link link-to" href="#duracion">Duración y horarios</a></li>
							<li class="nav-item"><a class="nav-link link-to" href="#facultad">Facultad</a></li>
							<li class="nav-item"><a class="nav-link link-to" href="#inversion">Inversión</a></li>
							<li class="nav-item"><a href="#informacion" class="btn btn-secondary nav-link link-to">Solicitar información</a></li>
						</ul>
					</div>
					<div class="d-flex align-items-center">
						<div class="idioma ui-select">
							<select>
								<option value="0" selected>Español</option>
								<option value="1">Inglés</option>
							</select>
						</div>
						<div class="main-menu">
							<button class="btn-trigger"></button>
							<div class="menu-popup">
								<div class="container">
									<div class="row">
										<div class="col-12 d-flex flex-column justify-content-between vh-100">
											<div class="menu-header d-flex align-items-center justify-content-between">
												<div class="logo">
													<img src="images/logo.svg" alt="" class="img-fluid">
												</div>
												<button class="btn-close"></button>
											</div>
											<nav class="d-flex justify-content-between">
												<ul>
													<li><h3><span>1|</span> ESAN</h3></li>
													<li><a href="#">Acerca de ESAN</a></li>
													<li><a href="#">Facultad</a></li>
													<li><a href="#">Investigación</a></li>
												</ul>
												<ul>
													<li><h3><span>2|</span> Programas</h3></li>
													<li><a href="#">Educación ejecutiva</a></li>
													<li><a href="#">Maestrías</a></li>
													<li><a href="#">MBAs</a></li>
													<li><a href="#">Doctorado</a></li>
												</ul>
												<ul>
													<li><h3><span>3|</span> Empresas</h3></li>
													<li><a href="#">Programas para tus trabajadores</a></li>
												</ul>
												<ul>
													<li><h3><span>4|</span> Comunidad</h3></li>
													<li><a href="#">Conexión ESAN</a></li>
													<li><a href="#">Sala de prensa</a></li>
													<li><a href="#">Doctorados</a></li>
													<li><a href="#">Testimonios</a></li>
													<li><a href="#">ESAN Alumni</a></li>
												</ul>
											</nav>
											<div class="redes">
												<h3>Síguenos en nuestras redes sociales</h3>
												<ul class="d-flex">
													<li><a href="#" class="link-facebook"></a></li>
													<li><a href="#" class="link-twitter"></a></li>
													<li><a href="#" class="link-youtube"></a></li>
													<li><a href="#" class="link-google"></a></li>
													<li><a href="#" class="link-linkedin"></a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</header>
	
	<main class="page">

		<div class="page-top top-online">
			<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="breadcrumbs">
						<a href="#">Inicio</a><span class="separator">&gt;</span>
						<a href="#">Programas</a><span class="separator">&gt;</span>
						<a href="#">Maestrías</a><span class="separator">&gt;</span>
						<a href="#">Organización y Dirección de Personas</a><span class="separator">&gt;</span>
						<span>International Week</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
					<div class="col-12">
						<h1 class="page-title">
							Dirección de Marketing Digital y <br>Comercio Electrónico (PADE)
						</h1>
					</div>
				</div>
		</div>
		<section class="maestria-page d-flex align-items-center flex-wrap">
			<div class="container">
				<div class="row">
					<div class="col-12 col-lg-6">
						<div class="content">
							<h1>Dirección de Marketing Digital y <br>Comercio Electrónico (PADE)</h1>
							<h2>Requisitos técnicos online</h2>
							<p>Inauguración<br><strong>xx de Abril 20xx</strong></p>
							<div class="actions">
								<a href="#" class="btn btn-primary btn-lg text-uppercase">Solicitar más información</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="video d-flex align-items-center justify-content-center" style="background-image: url(images/Foto-principal.jpg);">
				<button class="btn-play"></button>
			</div>
		</section>
				<section class=" d-flex align-items-center flex-wrap" style="padding: 0px">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="en-que-consiste d-flex align-items-center flex-wrap justify-content-between" style="padding: 0px">
							<div class="content">
								<div class="intro">
									<h2>Requerimientos técnicos para el uso de la<br>plataforma virtual Blackboard Collaborate Ultra</h2>
								</div>
								<p>Con el objetivo que las clases se desarrollen satisfactoriamente en el aula virtual Blackboard, es vital que el alumno cuente con los siguientes requerimientos técnicos para el uso de las plataformas:</p>

									<ul>
										<li>Micrófono integrado o externo (indispensable)</li>
										<li>Cámara web integrada o externa (opcional)</li>
										<li>Conexión a internet por cable (4MBRecomendable)</li>
									</ul>
							</div>
							<div class="imagen">
								<div class="item">
									<img src="images/online.jpg" alt="" class="img-fluid">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="financiamiento-page d-flex align-items-center flex-wrap" style="border-top: 1px solid;border-bottom: 1px solid;">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-12 col-lg-6">
					  <div class="content financiamiento-concideraciones">
						<div class="intro">
						  <h2>En Windows</h2>
						  </div>
						  <p>Sistema Operativo: Windows 2000/XP/Vista/7/8</p>
						  	<ul>
						  		<li>Procesador: Intel Core i3 (mínimo)</li>
						  		<li>Memoria Ram: 2 GB (mínimo)</li>
						  		<li>Disco duro: 100 GB</li>
						  		<li>Tarjetas de red: LAN Ethernet 100/1000 Gigabit y/o Tarjeta <br>Wireless 802.11b/g/n</li>
						  	</ul>
						</div>
					</div>
					<div class="col-12 col-lg-6">
					  <div class="content financiamiento-solicitud">
						<div class="intro">
						  <h2>En Mac</h2>
						</div>
						  <p>Sistema Operativo: Mac OS X 10.4 o mayor.</p>
						  	<ul>
						  		<li>Procesador: G4 o procesador Intel.</li>
						  		<li>Memoria Ram: 2 GB (mínimo)</li>
						  	</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class=" d-flex align-items-center flex-wrap" style="padding: 0px">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="en-que-consiste d-flex align-items-center flex-wrap justify-content-between" style="padding: 0px">
							<div class="imagen2">
								<div class="item">
									<img src="images/laptop-online.jpg" alt="" class="img-fluid">
								</div>
							</div>
							<div class="content">
								<div class="intro">
									<h2>Requerimientos adicionales</h2>
								</div>
									<ul>
										<li>En caso de encontrarse en una red corporativa tener habilitado por lo menos uno de los puertos 80, 443 o 2187</li>
										<li>Se puede utilizar cualquier navegador de web para acceder a una sesión de Blackboard Collaborate (se recomienda Google Chrome)</li>
										<li>20 MB de espacio de almacenamiento disponible</li>
									</ul>
									<p style="font-size: 16px;font-style: italic;line-height: 1.88;">La Plataforma Virtual Blacboard Collaborate es compatible con smartphones y tablets.</p>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section class="boletin">
			<div class="container">
				<div class="row">
					<div class="col-12 col-lg-5">
						<div class="content">
							<div class="intro">
								<h2>Mantente al día</h2>
								<p>A través de conexión Esan.</p>
								<form action="" class="needs-validation" novalidate>
									<div class="form-group custom-input">
										<label for="correoBoletin">
											<input type="text" id="correoBoletin" class="form-control" placeholder="&nbsp;">
											<span class="etiqueta">Déjenos su correo</span>
										</label>
									</div>
									<div class="form-group">
										<div class="custom-control custom-checkbox">
											<input type="checkbox" class="custom-control-input" id="newsletter">
											<label for="newsletter" class="custom-control-label">Suscribirme también al Newsletter de Noticias y Novedades.</label>
										</div>
									</div>
									<div class="form-group">
										<div class="custom-control custom-checkbox">
											<input type="checkbox" class="custom-control-input" id="condiciones02">
											<label for="condiciones02" class="custom-control-label">Acepto las <a href="#">condiciones de tratamiento para mis datos personales</a></label>
										</div>
									</div>
									<div>
										<button class="btn btn-light btn-lg text-uppercase">Mantenerte informado</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-6">
					<div class="enlaces-footer">
						<h2>Más de Esan</h2>
						<div class="row">
							<div class="col-12 col-lg-6">
								<ul>
									<li><a href="#">Transparencia universitaria</a></li>
									<li><a href="#">Portal académico</a></li>
									<li><a href="#">Esan Data</a></li>
									<li><a href="#">Google Apps</a></li>
								</ul>
							</div>
							<div class="col-12 col-lg-6">
								<ul>
									<li><a href="#">Biblioteca</a></li>
									<li><a href="#">Factura electrónica</a></li>
									<li><a href="#">Libro de reclamaciones</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<div class="contacto-footer">
						<h2>Comuníquese con nosotros</h2>
						<p>
							Teléfono.: 317-7200, 712-7200<br>
							Correo: <a href="mailto:informes@esan.edu.pe">informes@esan.edu.pe</a><br>
							Alonso de Molina 1652, Monterrico, Surco
						</p>
						<div class="redes">
							<h3>Síguenos en nuestras redes sociales</h3>
							<ul class="d-flex">
								<li><a href="#" class="link-facebook"></a></li>
								<li><a href="#" class="link-twitter"></a></li>
								<li><a href="#" class="link-youtube"></a></li>
								<li><a href="#" class="link-google"></a></li>
								<li><a href="#" class="link-linkedin"></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="text-center">
						<p><strong>© Universidad ESAN 2019</strong><br>Todos los derechos reservados</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
	
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>
	<script src="js/parallax.min.js"></script>
	<script src="slick/slick.min.js"></script>
	<script src="js/scripts.js"></script>
</body>
</html>